    body {
        /* background-color: rgb(30, 30, 30); */
        /* background-color: black; */
        /* font-family: narkisim; */
        font-family: 'Malgun Gothic';
        /* font-family: 'Segoe Print'; */
    }
    
    #chinaFlag {
        position: absolute;
        left: 180px;
        top: 20px;
        margin: 0px;
    }
    
    .chinaTitle {
        color: #869fbd;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 20px;
        top: 0px;
        margin: 0px;
        font-family: 'Segoe Print';
    }
    
    #indiaFlag {
        position: absolute;
        left: 530px;
        top: 20px;
        margin: 0px;
    }
    
    .indiaTitle {
        color: #869fbd;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 400px;
        top: 0px;
        margin: 0px;
        font-family: 'Segoe Print';
    }
    
    .graphTitle {
        color: #869fbd;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 900px;
        top: 0px;
        text-align: center;
        margin: 0px;
        font-family: 'Segoe Print';
    }
    
    #graph {
        position: absolute;
        left: 700px;
        top: 60px;
    }
    
    #popTableID {
        left: 30px;
        top: 150px;
        text-align: left;
        position: absolute;
        table-layout: fixed;
        width: 640px;
    }
    
    #popTableID th,
    td {
        overflow: hidden;
        text-align: left;
        color: #a09684;
        font-size: 24px;
    }
    
    #popTableID td:nth-of-type(1) {
        width: 30px;
        height: 0px;
        text-align: right;
    }
    
    #popTableID td:nth-of-type(2) {
        width: 140px;
        border-left: 8px solid rgb(30, 30, 30)
    }
    
    #popTableID td:nth-of-type(3) {
        width: 80px;
        text-align: left;
    }
    /* The img fade in animation works only for the first img... */
    
    .indiaBiggest {
        position: absolute;
        left: 200px;
        top: 390px;
        font-size: 24px;
    }
    
    .newsTitle {
        color: #869fbd;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 900px;
        top: 450px;
        text-align: center;
        margin: 0px;
        font-family: 'Segoe Print';
    }
    
    #news {
        position: absolute;
        left: 700px;
        top: 550px;
        font-size: 24px;
    }
    
    #china_IMG {
        position: absolute;
        left: 20px;
        top: 465px;
    }
    
    #india_IMG {
        position: absolute;
        left: 350px;
        top: 465px;
    }
    
    @keyframes fadein2 {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
    
    #countryIncreasesFadeIn {
        -webkit-animation: fadein 2s;
    }
    
    @keyframes fadein {
        from {
            color: #a09684;
        }
        to {
            color: #53853f;
            ;
        }
    }
    
    #countryIncreasesFadeOut {
        -webkit-animation: fadeout 3s;
    }
    
    @keyframes fadeout {
        from {
            color: #53853f;
            ;
        }
        to {
            color: #a09684;
        }
    }
    
    #japanIncreasesFadeIn {
        -webkit-animation: fadein1 2s;
    }
    
    @keyframes fadein1 {
        from {
            color: #a09684;
        }
        to {
            color: #a84629;
        }
    }
    
    #japanIncreasesFadeOut {
        -webkit-animation: fadeout1 3s;
    }
    
    @keyframes fadeout1 {
        from {
            color: #a84629;
        }
        to {
            color: #a09684;
        }
    }
    
    .dateTimeFrame {
        position: absolute;
        left: 0px;
        top: 646px;
    }
    
    #dateTimeData {
        text-align: left;
    }
    
    #London {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #NewYork {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #Tokyo {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #NewDelhi {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #Moscow {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #year {
        padding-left: 23px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }