    body {
        background-color: rgb(30, 30, 30);
        /* background-color: black; */
        /* font-family: narkisim; */
        font-family: 'Malgun Gothic';
        /* font-family: 'kalam'; */
    }
    
    .totalWorldTitle {
        color: #869fbd;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 460px;
        top: 0px;
        text-align: center;
        margin: 0px;
        font-family: 'kalam';
    }
    
    .runnigCount {
        /* color: rgb(35, 129, 35); */
        /* color: #84ac27; */
        /* font-size: 9ex; */
        color: #a09684;
        font-size: 7ex;
        position: relative;
        text-align: center;
        display: inline;
        left: 480px;
        top: 85px;
        font-family: 'kalam';
    }
    
    .allCountriesTitle {
        /* color: #e9c72f; */
        color: #869fbd;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 945px;
        top: 0px;
        font-family: 'kalam';
    }
    
    .tableCountriesFrame {
        height: 570px;
        width: 470px;
        overflow: hidden;
        table-layout: fixed;
        position: absolute;
        top: 80px;
        left: 875px;
    }
    
    #tableCountries {
        text-align: left;
        position: absolute;
        table-layout: fixed;
        width: 470px;
    }
    
    #tableCountries th,
    td {
        overflow: hidden;
        text-align: left;
        color: #a09684;
        font-size: 21px;
        /* animation: scrolling 60s linear infinite; */
    }
    
    #tableCountries td:nth-of-type(1) {
        width: 6px;
        height: 0px;
        text-align: right;
        /* margin: 5px 25px; */
    }
    /*Setting the width of column 1.*/
    
    #tableCountries td:nth-of-type(2) {
        width: 7px;
        border-left: 8px solid rgb(30, 30, 30)
    }
    /*Setting the width of column 2.*/
    
    #tableCountries td:nth-of-type(3) {
        width: 6px;
        text-align: left;
    }
    /*Setting the width of column 3.*/
    
    #tableCountries td:nth-of-type(4) {
        width: 1px;
        text-align: left;
    }
    
    .topCountriesTitle {
        /* color: #c75919; */
        /* color: #9bca2c; */
        color: #869fbd;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 15px;
        top: 0px;
        text-align: center;
        font-family: 'kalam';
    }
    
    .topCountriesFrame {
        height: 570px;
        width: 420px;
        overflow: hidden;
        table-layout: fixed;
        position: absolute;
        top: 80px;
        left: 0px;
    }
    
    #topCountries {
        text-align: left;
        position: absolute;
        table-layout: fixed;
        width: 370px;
    }
    
    #topCountries td {
        text-align: left;
        color: #a09684;
        overflow: hidden;
        font-size: 21px;
        border-spacing: 30px 0px
    }
    
    #topCountries td:nth-of-type(1) {
        width: 2px;
        height: 0px;
        text-align: right;
    }
    /*Setting the width of column 1.*/
    
    #topCountries td:nth-of-type(2) {
        border-left: 7px solid rgb(30, 30, 30);
        width: 3px;
    }
    /*Setting the width of column 2.*/
    
    #topCountries td:nth-of-type(3) {
        width: 10px;
    }
    
    #topCountries td:nth-of-type(4) {
        width: 4px;
    }
    /* Th
    /* The img fade in animation works only for the first img... */
    
    #img {
        position: absolute;
        left: 365px;
        top: 200px;
        -webkit-animation: fadein2 1s;
    }
    
    @keyframes fadein2 {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
    
    #countryIncreasesFadeIn {
        -webkit-animation: fadein 2s;
    }
    
    @keyframes fadein {
        from {
            color: #a09684;
        }
        to {
            color: #53853f;
            ;
        }
    }
    
    #countryIncreasesFadeOut {
        -webkit-animation: fadeout 3s;
    }
    
    @keyframes fadeout {
        from {
            color: #53853f;
            ;
        }
        to {
            color: #a09684;
        }
    }
    
    #japanIncreasesFadeIn {
        -webkit-animation: fadein1 2s;
    }
    
    @keyframes fadein1 {
        from {
            color: #a09684;
        }
        to {
            color: #a84629;
        }
    }
    
    #japanIncreasesFadeOut {
        -webkit-animation: fadeout1 3s;
    }
    
    @keyframes fadeout1 {
        from {
            color: #a84629;
        }
        to {
            color: #a09684;
        }
    }
    
    .dateTimeFrame {
        position: absolute;
        left: 0px;
        top: 646px;
    }
    
    #dateTimeData {
        text-align: left;
    }
    
    #London {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #NewYork {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #Tokyo {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #NewDelhi {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #Moscow {
        padding-left: 13px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    
    #year {
        padding-left: 23px;
        text-align: left;
        color: #869fbd;
        font-size: 18px;
    }
    /* OLDER VERSION  - it should come after the #tableCountries tag to make the table scroll */
    /* Making the countries to SCROLL */
    /* -webkit-transform: translateY(-80%);
    -webkit-animation: scroll-up 150s linear infinite;
}

@-webkit-keyframes scroll-up {
    0% {
        -webkit-transform: translateY(-80%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
} */