    body {
        background-color: black;
        font-family: narkisim;
    }
    
    .totalWorldTitle {
        color: #fdf4cc;
        font-size: 18px;
        font-weight: bold;
        /* background-color: rgb(116, 126, 143); */
        position: absolute;
        left: 490px;
        top: 0px;
        text-align: center;
        /* font-family: Chiller; */
        /* sans-serif; */
        /* border-radius: 30px; */
        margin: 0px;
        /* padding: 10px; */
    }
    
    .runnigCount {
        color: rgb(35, 129, 35);
        font-size: 7ex;
        position: relative;
        text-align: center;
        /* font-family: cursive; */
        /* sans-serif; */
        /* padding: 20px; */
        display: inline;
        left: 525px;
        top: 70px;
    }
    
    .allCountriesTitle {
        color: #fdf4cc;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        left: 15px;
        top: 0px;
        /* text-align: center; */
        /* font-family: Chiller; */
        /* border-radius: 30px; */
        /* margin: 10px; */
        /* padding: 10px; */
    }
    
    .tableCountriesFrame {
        height: 600px;
        width: 420px;
        overflow: hidden;
        table-layout: fixed;
        position: absolute;
        top: 70px;
        left: 10px;
        bottom: 0px;
    }
    
    #tableCountries {
        text-align: left;
        /* font-family: chiller, sans-serif; */
        position: absolute;
        /* margin: 10px; */
        /* padding: 20x; */
        table-layout: fixed;
        width: 370px;
    }
    /* Making the countries to SCROLL */
    /* -webkit-transform: translateY(-80%);
    -webkit-animation: scroll-up 150s linear infinite;
}

@-webkit-keyframes scroll-up {
    0% {
        -webkit-transform: translateY(-80%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
} */
    
    #tableCountries th,
    td {
        /* padding: 3px; */
        /* table-layout: fixed; */
        overflow: hidden;
        text-align: left;
        color: white;
        font-size: 24px;
        /* padding-left: 0px; */
        /* width: 5px; */
        /* height: 17px; */
        /* additional */
        /* height: 100%; */
        /* animation: scrolling 60s linear infinite; */
        /* top: 1000px; */
    }
    
    #tableCountries td:nth-of-type(1) {
        width: 11px;
        height: 25px;
    }
    /*Setting the width of column 1.*/
    
    #tableCountries td:nth-of-type(2) {
        width: 63px;
    }
    /*Setting the width of column 2.*/
    
    #tableCountries td:nth-of-type(3) {
        width: 40px;
    }
    /*Setting the width of column 3.*/
    
    .topCountriesTitle {
        color: #fdf4cc;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        left: 965px;
        top: 0px;
        text-align: center;
        /* font-family: Chiller; */
        /* border-radius: 30px; */
        /* margin: 10px; */
        /* padding: 10px; */
    }
    
    .topCountriesFrame {
        height: 600px;
        width: 420px;
        overflow: hidden;
        table-layout: fixed;
        position: absolute;
        top: 70px;
        bottom: 0px;
        left: 965px;
    }
    
    #topCountries {
        text-align: left;
        position: absolute;
        table-layout: fixed;
        width: 370px;
    }
    
    #topCountries td {
        text-align: left;
        color: white;
        overflow: hidden;
        font-size: 24px;
        ;
    }
    
    #topCountries td:nth-of-type(1) {
        width: 5px;
        height: 25px;
    }
    /*Setting the width of column 1.*/
    
    #topCountries td:nth-of-type(2) {
        width: 28px;
    }
    /*Setting the width of column 2.*/
    
    #topCountries td:nth-of-type(3) {
        width: 40px;
    }
    
    #img {
        position: absolute;
        left: 355px;
        top: 150px;
        -webkit-animation: fadein2 1s;
    }
    
    @keyframes fadein2 {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
    
    #countryIncreasesFadeIn {
        -webkit-animation: fadein 2s;
    }
    
    @keyframes fadein {
        from {
            color: white;
        }
        to {
            color: green;
        }
    }
    
    #countryIncreasesFadeOut {
        -webkit-animation: fadeout 8s;
    }
    
    @keyframes fadeout {
        from {
            color: green;
        }
        to {
            color: white;
        }
    }
    
    #japanIncreasesFadeIn {
        -webkit-animation: fadein1 2s;
    }
    
    @keyframes fadein1 {
        from {
            color: white;
        }
        to {
            color: red;
        }
    }
    
    #japanIncreasesFadeOut {
        -webkit-animation: fadeout1 8s;
    }
    
    @keyframes fadeout1 {
        from {
            color: red;
        }
        to {
            color: white;
        }
    }
    
    .dateTimeFrame {
        position: absolute;
        left: 0px;
        top: 646px;
    }
    
    #dateTimeData {
        text-align: left;
        /* position: absolute;
        margin: 2px;
        padding: 25px; */
    }
    /* #dateTimeData td {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 20px;
    } */
    
    #London {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 20px;
    }
    
    #NewYork {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 20px;
    }
    
    #Tokyo {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 20px;
    }
    
    #NewDelhi {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 20px;
    }
    
    #Moscow {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 20px;
    }
    
    #year {
        padding-left: 15px;
        text-align: left;
        color: #fdf4cc;
        font-size: 40px;
    }
    /* #dateTimeData td:nth-of-type(1) {
        width: 80px;
    }
    
    #dateTimeData td:nth-of-type(2) {
        width: 170px;
    }
    
    #dateTimeData td:nth-of-type(4) {
        width: 130px;
    }
    
    #dateTimeData td:nth-of-type(5) {
        width: 70px;
    }
    
    #dateTimeData td:nth-of-type(6) {
        width: 130px;
    }
    
    #dateTimeData td:nth-of-type(7) {
        width: 130px;
    }
    
    #dateTimeData td:nth-of-type(8) {
        width: 130px;
    }
    
    #dateTimeData td:nth-of-type(9) {
        width: 130px;
    }
    
    #dateTimeData td:nth-of-type(10) {
        width: 100px;
    } */
    /* 
@keyframes fadeout {
    from {
        color: green;
    }
    to {
        color: black;
    }
} */
    /* @keyframes scrolling {
    0% {
        transform: translateX(80vw);
    }
    100% {
        transform: translateX(-100vw);
    }
} */
    /* .tableCountriesFrame {
    width: 50vh;
    height: 50vh;
    background-color: green;
    position: absolute;
    color: tomato;
    left: 4%;
    display: flex;
    justify-content: center;
    top: 150px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
} */
    /* #tableCountries {
    border: 1px solid black;
    border-collapse: collapse;
    left: 250px;
    top: 100px;
    height: 100%;
    color: blue;
    text-align: center;
    font-family: sans-serif;
    margin: 1px;
    padding: 10px;
    background-color: #f1f1c1;
    animation: scrolling 60s linear infinite;
}

@keyframes scrolling {
    from {
        transform: translate(0, 0%);
    }
    to {
        transform: translate(1000px, 100%);
    }
} */
    /* 
@keyframes scrolling {
    0% {
        transform: translateY(-80vw);
    }
    100% {
        transform: translateY(-100vw);
    }
} */
    /* 
.news {
    width: 200vh;
    height: 20vh;
    background-color: black;
    position: relative;
    color: tomato;
    overflow: hidden;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.News-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 10s linear infinite;
    top: 1000px;
}

@keyframes scrolling {
    0% {
        transform: translateX(80vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

.News-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-shrink: 0;
    font-size: 5rem;
    white-space: nowrap;
} */