<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>China vs India</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/China_India.css'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='China_India.css') }}"> -->
</head>

<body>
    <header>
        <h1 class="chinaTitle">CHINA</h1>
        <div>
            <img id="chinaFlag" src="/static/China_India_photos/china-flag-small_500_333.png" height="100" width="150" />
        </div>
        <h1 class="indiaTitle">INDIA</h1>
        <div>
            <img id="indiaFlag" src="/static/China_India_photos/india-flag-small_500_333.png" height="100" width="150" />
        </div>
        <h1 id="graphTitle">MORE MALES THAN FEMALES (IN MILLIONS)</h1>
        <!-- <h1 class="newsTitle">News Title</h1>  -->
    </header>
    <div class="popTable">
        <table id="popTableID" frame=void>
            <tr>
                <td>TOTAL</td>
                <td id="ChinaTotal">pop of China</td>
                <td id="IndiaTotal">pop of India</td>
            </tr>
            <tr>
                <td>MALE</td>
                <td id="ChinaMale">Males of China</td>
                <td id="IndiaMail">Males of India</td>
            </tr>
            <tr>
                <td>FEMALE</td>
                <td id="ChinaFemale">Females of China</td>
                <td id="IndiaFemale">Females of India</td>
            </tr>

        </table>

    </div>
    <div id="indiaBiggestTitle">INDIA'S POPULATION WILL BE GREATER THAN CHINA'S IN:</div>
    <div>
        <div id="time">YEARS &nbsp; &nbsp; &nbsp;&nbsp; DAYS &nbsp; &nbsp; &nbsp;&nbsp; HOURS &nbsp; MINUTES &nbsp; SECONDS</div>
        <div>
        </div>
        <div class="indiaBiggest" id="i">India will become the largest country in 32342 (~6 years)</div>
        <div>
            <img id="graph" src="/static/China_India_graphs/chinaIndia-maleVSfemale-81s.gif" height="410" width="535" />
        </div>
        <div class="newsBox" id="news">
            <p>China has been the largest country in the world for the past 70 years</p>

        </div>
        <div>
            <img id="china_IMG" height="210" width="315" />
        </div>
        <div>
            <img id="china_IMG2" height="210" width="315" />
        </div>
        <div>
            <img id="india_IMG" height="210" width="315" />
        </div>
        <div>
            <img id="india_IMG2" height="210" width="315" />
        </div>

        <div class="dateTimeFrame">
            <table id="dateTimeData" frame=void>
                <tr>
                    <td id="Beijing"></td>
                    <td id="NewDelhi"></td>
                    <td id="year"></td>
                </tr>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <!-- <script src="{{url_for('static', filename='/static/China_India.js')}}"></script> -->
        <script src="/static/China_India.js"></script>
</body>

</html>