<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Causes of Death</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/Death/death.css'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='China_India.css') }}"> -->
</head>

<body>
    <header>
        <h1 class="bigTitle">TOP CAUSES OF DEATH IN 2020</h1>
    </header>
    <div class="deathTable">
        <table id="deathTableID" frame=void>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Cardiovascular diseases</td>
                <td id="number0">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">CANCERS</td>
                <td id="number1">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Respiratory infections and tuberculosis</td>
                <td id="number2">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Alzheimer's disease and other dementias</td>
                <td id="number3">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Digestive diseases</td>
                <td id="number4">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Neonatal disorders</td>
                <td id="number5">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Diabetes mellitus</td>
                <td id="number6">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Diarrheal diseases</td>
                <td id="number7">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Chronic kidney disease</td>
                <td id="number8">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Road injuries</td>
                <td id="number9">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Self-harm</td>
                <td id="number10">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Falls</td>
                <td id="number11">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">HIV/AIDS</td>
                <td id="number12">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Malaria</td>
                <td id="number13">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Interpersonal violence</td>
                <td id="number14">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Parkinson's disease</td>
                <td id="number15">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Drowning</td>
                <td id="number16">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Meningitis</td>
                <td id="number17">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Nutritional deficiencies</td>
                <td id="number18">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Conflict and terrorism</td>
                <td id="number19">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Alcohol use disorders</td>
                <td id="number20">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Drug use disorders</td>
                <td id="number21">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Maternal disorders</td>
                <td id="number22">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Acute hepatitis</td>
                <td id="number23">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Fire</td>
                <td id="number24">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Poisonings</td>
                <td id="number25">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Venomous animal contact</td>
                <td id="number26">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Environmental heat and cold exposure</td>
                <td id="number27">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Executions and police conflict</td>
                <td id="number28">running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="" height="" width=""></td>
                <td class="name">Non-venomous animal contact</td>
                <td id="number29">running death counter</td>
            </tr>
        </table>

        <div>
            <img id="graph" src="/static/China_India/China_India_graphs/chinaIndia-maleVSfemale-81s.gif" height="410" width="535" />
        </div>
        <div class="newsBox" id="news">
            <p>China has been the largest country in the world for the past 70 years</p>

        </div>
        <div>

            <div class="dateTimeFrame">
                <table id="dateTimeData" frame=void>
                    <tr>
                        <td id="Beijing"></td>
                        <td id="NewDelhi"></td>
                        <td id="year"></td>
                    </tr>
                </table>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
            <!-- <script src="{{url_for('static', filename='/static/China_India.js')}}"></script> -->
            <script src="/static/Death/death.js"></script>
</body>

</html>