<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Causes of Death</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/Death/death.css'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='China_India.css') }}"> -->
</head>

<body>
    <header>
        <h1 class="bigTitle">TOP CAUSES OF DEATH IN 2020</h1>
    </header>
    <div class="deathTable">
        <table id="deathTableID1" frame=void>
            <tr>
                <td><img class="photo" src="/static/Death/photos/heart.jpg" height="50" width="75"></td>
                <td class="name">CARDIOVASCULAR DISEASES</td>
                <td id="number0">running death counter</td>
                <td id="plus0">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/cancer.jpg" height="50" width="75"></td>
                <td class="name">CANCERS</td>
                <td id="number1">running death counter</td>
                <td id="plus1">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/repiratory.jpg" height="50" width="75"></td>
                <td class="name">RESPIRATORY DISEASES</td>
                <td id="number2">running death counter</td>
                <td id="plus2">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/alzhaimer.jpg" height="50" width="75"></td>
                <td class="name">DEMENTIA</td>
                <td id="number3">running death counter</td>
                <td id="plus3">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/digestive.jpg" height="50" width="75"></td>
                <td class="name">DIGESTIVE DISEASES</td>
                <td id="number4">running death counter</td>
                <td id="plus4">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/neonatal.jpg" height="50" width="75"></td>
                <td class="name">NEONATAL DISORDERS</td>
                <td id="number5">running death counter</td>
                <td id="plus5">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/Diabetes.jpg" height="50" width="75"></td>
                <td class="name">DIABETES</td>
                <td id="number6">running death counter</td>
                <td id="plus6">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/diariha.jpg" height="50" width="75"></td>
                <td class="name">DIARRHEAL DISEASES</td>
                <td id="number7">running death counter</td>
                <td id="plus7">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/kidney.jpg" height="50" width="75"></td>
                <td class="name">KIDNEY DISEASES</td>
                <td id="number8">running death counter</td>
                <td id="plus8">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/car.jpg" height="50" width="75"></td>
                <td class="name">ROAD INJURIES</td>
                <td id="number9">running death counter</td>
                <td id="plus9">+1</td>
            </tr>
        </table>
        <table id="deathTableID2" frame=void>

            <tr>
                <td><img class="photo" src="/static/Death/photos/Corona.jpg" height="50" width="75"></td>
                <td class="name">COVID-19 (CORONA VIRUS)</td>
                <td id="corona"></td>>running death counter</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/suicide.jpg" height="50" width="75"></td>
                <td class="name">SUICIDE</td>
                <td id="number10">running death counter</td>
                <td id="plus10">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/falling.jpg" height="50" width="75"></td>
                <td class="name">FALLING</td>
                <td id="number11">running death counter</td>
                <td id="plus11">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/hiv.jpg" height="50" width="75"></td>
                <td class="name">HIV/AIDS</td>
                <td id="number12">running death counter</td>
                <td id="plus12">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/malaria.jpg" height="50" width="75"></td>
                <td class="name">MALARIA</td>
                <td id="number13">running death counter</td>
                <td id="plus13">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/knife.jpg" height="50" width="75"></td>
                <td class="name">HOMICIDE</td>
                <td id="number14">running death counter</td>
                <td id="plus14">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/parkinson.jpg" height="50" width="75"></td>
                <td class="name">PARKINSON DISEASE</td>
                <td id="number15">running death counter</td>
                <td id="plus15">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/drowning.jpg" height="50" width="75"></td>
                <td class="name">DROWNING</td>
                <td id="number16">running death counter</td>
                <td id="plus16">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/Meningitis.jpg" height="50" width="75"></td>
                <td class="name">MENINGITIS</td>
                <td id="number17">running death counter</td>
                <td id="plus17">+1</td>
            </tr>

            <tr>
                <td><img class="photo" src="/static/Death/photos/Nutritional.jpg" height="50" width="75"></td>
                <td class="name">NUTRITIONAL DEFICIENCIES</td>
                <td id="number18">running death counter</td>
                <td id="plus18">+1</td>
            </tr>

        </table>
        <table id="deathTableID3" frame=void>


            <tr>
                <td><img class="photo" src="/static/Death/photos/conflict.jpg" height="50" width="75"></td>
                <td class="name">WARS AND TERRORISM</td>
                <td id="number19">running death counter</td>
                <td id="plus19">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/alcohol.jpg" height="50" width="75"></td>
                <td class="name">ALCOHOL USE DISORDERS</td>
                <td id="number20">running death counter</td>
                <td id="plus20">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/drugs.jpg" height="50" width="75"></td>
                <td class="name">DRUG USE DISORDERS</td>
                <td id="number21">running death counter</td>
                <td id="plus21">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/maternal.jpg" height="50" width="75"></td>
                <td class="name">MATERNAL DISORDERS</td>
                <td id="number22">running death counter</td>
                <td id="plus22">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/hipetitis.jpg" height="50" width="75"></td>
                <td class="name">HEPATITIS</td>
                <td id="number23">running death counter</td>
                <td id="plus23">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/fire.jpg" height="50" width="75"></td>
                <td class="name">FIRE</td>
                <td id="number24">running death counter</td>
                <td id="plus24">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/poison.jpg" height="50" width="75"></td>
                <td class="name">POISONINGS</td>
                <td id="number25">running death counter</td>
                <td id="plus25">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/venomous_animal.jpg" height="50" width="75"></td>
                <td class="name">VENOMOUS ANIMALS</td>
                <td id="number26">running death counter</td>
                <td id="plus26">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/begger.JPG" height="50" width="75"></td>
                <td class="name">HEAT AND COLD EXPOSURE</td>
                <td id="number27">running death counter</td>
                <td id="plus27">+1</td>
            </tr>
            <tr>
                <td><img class="photo" src="/static/Death/photos/police.jpg" height="50" width="75"></td>
                <td class="name">EXECUTIONS AND POLICE</td>
                <td id="number28">running death counter</td>
                <td id="plus28">+1</td>
            </tr>

        </table>
        <div id="totalDeathTitle"> TOTAL DEATHS IN 2020:</div>
        <div id="totalDeathNumber"> Total Death number</div>
        <div>

            <div class="dateTimeFrame">
                <table id="dateTimeData" frame=void>
                    <tr>
                        <td id="Beijing"></td>
                        <td id="NewDelhi"></td>
                        <td id="year"></td>
                    </tr>
                </table>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
            <!-- <script src="{{url_for('static', filename='/static/China_India.js')}}"></script> -->
            <script src="/static/Death/death.js"></script>
</body>

</html>